@font-face {
    font-family: 'zabars';
    src: url('fonts/ZABARS/zabars.ttf')  format('truetype'), /* Safari, Android, iOS */
}



body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/background-pixabay/body_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: 4px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 24px;
}

.main-screen {
    position: relative;
    width: 856px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/5_background/background-pixabay/frame.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(251,146,72);
}

canvas {
    background-color: black;
}

.d-none {
    display: none;
}

#start-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 48px;
}

#start-btn:hover {
    font-size: 56px;
}

#start-img {
    position: relative;
    width: 705px;
    height: 480px;
}

#start-img img {
    width: 100%;
    height: 100%;
}

.volume-on {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 13px;
    top: 70px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-on:hover {
    cursor: pointer;
}

.volume-on img {
    height: 32px;
    width: 32px;
    object-fit: cover;

}






@media only screen and (max-width: 856px) {
    .main-screen {
        width: 100%;
        background-size: contain;
        justify-content: flex-start;
        padding-top: 9.5%;
    }

    .main-screen background-image {
        width: 100%;
    }

    canvas {
        width: 82%;
    }

    @media only screen and (max-height: 480px) {
        .main-screen {
            height: 100%;
            background-size: contain;
        }

        canvas {
            height: 100%;
        }
    }
}